---
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Price from "../../components/Price.astro";
import PageFacilities from "../../components/PageFacilities.astro";
import Form from "../../components/Form.astro";

export const getStaticPaths = async () => {
    const shops = await getCollection("shops");

    const shopPaths = shops.map((shop) => {
        return {
            params: {
                slug: shop.slug,
            },
            props: {
                shop,
            },
        };
    });
    return shopPaths;
};

type Props = {
    shop: CollectionEntry<"shops">;
};

const { shop } = Astro.props;
const { Content } = await shop.render();
const { price } = shop.data;
const { data: shopData } = await getEntry("shopPrice", price.id);

const parsepsf = shopData.priceNow;
const parsesize = shop.data.size;
const BSPPrice = (parsepsf * parsesize) / 100000;

---

<Layout title={shop.data.title}>

    <Breadcrumb title={shop.data.title} />
    <div class="bg-[#3F2E28] lg:px-20 px-5 py-10">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 bg-white lg:px-10 lg:pb-10">
            <div class="relative lg:py-8 p-3">
                <Image
                src={shop.data.image}
                alt={shop.data.title}
                format="webp"
                class="shadow-xl mb-2 object-cover lg:w-full"
            />
            </div>
            <div class="lg:py-4 px-4">
                <h4 class="lg:text-right text-xl font-bold">Last Updated: {shop.data.date} </h4>
                <h4 class="lg:text-right text-xl font-bold">Category: {shop.data.category}</h4>
                <div class="lg:mb-4 mt-10">
                    <Price price= {BSPPrice} />
                </div>
                <PageFacilities
                size={shop.data.size} 
                price={shopData.priceNow}
                floor={shop.data.floor} 
                discount={shop.data.discount} 
                corner={shop.data.corner? "yes" : "No"}
                atrium={shop.data.atrium? "yes" : "No"}
                status={shop.data.status}
                byowner={shop.data.byowner? "yes" : "No"}
                brokerage={shop.data.brokerage? "yes" : "No"}
                plc={shop.data.plc}
                giftvisit={shop.data.giftvisit}
                giftbuy={shop.data.giftbuy}
                />
                <div class="my-8">
    
                </div>
                <h4 class="italic font-bold">{shop.data.info}</h4>
            </div>
        </div>
        <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-16  bg-white lg:px-10 lg:pb-10">
            <div class="text-xl lg:col-span-2 lg:p-16 shadow-lg p-8">
                    <li class="my-3">{shop.data.ptz1}</li>
                    <li class="my-3">{shop.data.ptz2}</li>
                    <li class="my-3">{shop.data.ptz3}</li>
                    <li class="my-3">{shop.data.ptz4}</li>
                    <li class="my-3">{shop.data.ptz5}</li>
            </div>
            <div>
                <Form />
            </div>
        </div>
        <div class="prose-xl overflow-visible relative shadow-lg bg-white px-10 py-10">
            <Content />
        </div>
    </div>
</Layout>
