---
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Form from "../../components/Form.astro";
import Highlights from "../../components/Highlights.astro";
import PageFacilities from "../../components/PageFacilities.astro";
import Price from "../../components/Price.astro";

export const getStaticPaths = async () => {
    const anchors = await getCollection("anchors");

    const anchorPaths = anchors.map((anchor) => {
        return {
            params: {
                slug: anchor.slug,
            },
            props: {
                anchor,
            },
        };
    });
    return anchorPaths;
};

type Props = {
    anchor: CollectionEntry<"anchors">;
};

const { anchor } = Astro.props;
const { Content } = await anchor.render();
const { price } = anchor.data;
const { data: anchorData } = await getEntry("anchorPrice", price.id);

const parsepsf = anchorData.priceNow;
const parsesize = anchor.data.size;
const BSPPrice = (parsepsf * parsesize) / 100000;
---

<Layout title={anchor.data.title}>

    <Breadcrumb title={anchor.data.title} />
    <div class="bg-[#3F2E28] lg:px-20 px-5 py-10">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 bg-white lg:px-10 lg:pb-10">
            <div class="relative lg:py-8 p-3">
                <Image
                src={anchor.data.image}
                alt={anchor.data.title}
                format="webp"
                class="shadow-xl mb-2 object-cover lg:w-full"
            />
            </div>
            <div class="lg:py-4 px-4">
                <h4 class="lg:text-right text-xl font-bold">Last Updated: {anchor.data.date} </h4>
                <h4 class="lg:text-right text-xl font-bold">Category: {anchor.data.category}</h4>
                <div class="lg:mb-4 mt-10">
                    <Price price= {BSPPrice} />
                </div>
                <PageFacilities
                size={anchor.data.size} 
                price={anchorData.priceNow}
                floor={anchor.data.floor} 
                discount={anchor.data.discount} 
                corner={anchor.data.corner? "yes" : "No"}
                atrium={anchor.data.atrium? "yes" : "No"}
                status={anchor.data.status}
                byowner={anchor.data.byowner? "yes" : "No"}
                brokerage={anchor.data.brokerage? "yes" : "No"}
                plc={anchor.data.plc}
                giftvisit={anchor.data.giftvisit}
                giftbuy={anchor.data.giftbuy}
                />
                <div class="my-8">
    
                </div>
                <h4 class="italic font-bold">{anchor.data.info}</h4>
            </div>
        </div>
        <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-16  bg-white lg:px-10 lg:pb-10">
            <div class="text-xl lg:col-span-2 lg:p-16 shadow-lg p-8">
                    <li class="my-3">{anchor.data.ptz1}</li>
                    <li class="my-3">{anchor.data.ptz2}</li>
                    <li class="my-3">{anchor.data.ptz3}</li>
                    <li class="my-3">{anchor.data.ptz4}</li>
                    <li class="my-3">{anchor.data.ptz5}</li>
            </div>
            <div>
                <Form />
            </div>
        </div>
        <div class="prose-xl overflow-visible relative shadow-lg bg-white px-10 py-10">
            <Content />
        </div>
    </div>
</Layout>