---
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Breadcrumb from "../../components/Breadcrumb.astro";

export const getStaticPaths = async () => {
    const offices = await getCollection("offices");

    const paths = offices.map((office) => {
        return {
            params: {
                slug: office.slug,
            },
            props: {
                office,
            },
        };
    });
    return paths;
};

type Props = {
    office: CollectionEntry<"offices">;
};

const { office } = Astro.props;
const { Content } = await office.render();
const { price } = office.data;
const { data: officeData } = await getEntry("officePrice", price.id);

const parsepsf = officeData.priceNow;
const parsesize = office.data.size;
const BSPPrice = (parsepsf * parsesize) / 100000;
---

<Layout title={office.data.title}>

    <Breadcrumb title={office.data.title} />
    <div>
        <Image
        src={office.data.image}
        alt={office.data.title}
        width={1500}
        height={1024 / 2}
        format="webp"
        class="shadow-xl mb-2 object-cover"
    />
    </div>
    <div class="mb-20 px-20">
        <h4 class="text-xl font-bold">Category: {office.data.category}</h4>
        <h4 class="text-xl font-bold">Date: {office.data.date}</h4>
        <h4 class="text-xl font-bold">Price: {BSPPrice}</h4>
    </div>
    <div class="prose-2xl overflow-visible relative mb-20 px-20">
        <Content />
    </div>
</Layout>
