---
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Form from "../../components/Form.astro";
import Highlights from "../../components/Highlights.astro";
import PageFacilities from "../../components/PageFacilities.astro";
import Price from "../../components/Price.astro";

export const getStaticPaths = async () => {
    const offices = await getCollection("offices");

    const paths = offices.map((office) => {
        return {
            params: {
                slug: office.slug,
            },
            props: {
                office,
            },
        };
    });
    return paths;
};

type Props = {
    office: CollectionEntry<"offices">;
};

const { office } = Astro.props;
const { Content } = await office.render();
const { price } = office.data;
const { data: officeData } = await getEntry("officePrice", price.id);

const parsepsf = officeData.priceNow;
const parsesize = office.data.size;
const BSPPrice = (parsepsf * parsesize) / 100000;
---

<Layout title={office.data.title}>

    <Breadcrumb title={office.data.title} />
    <div class="bg-[#3F2E28] lg:px-20 px-5 py-10">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 bg-white lg:px-10 lg:pb-10">
            <div class="relative lg:py-8 p-3">
                <Image
                src={office.data.image}
                alt={office.data.title}
                format="webp"
                class="shadow-xl mb-2 object-cover w-full"
            />
            </div>
            <div class="lg:py-4 px-4">
                <h4 class="lg:text-right text-xl font-bold">Last Updated: {office.data.date} </h4>
                <h4 class="lg:text-right text-xl font-bold">Category: {office.data.category}</h4>
                <div class="lg:mb-4 mt-10">
                    <Price price= {BSPPrice} />
                </div>
                <PageFacilities
                size={office.data.size} 
                price={officeData.priceNow}
                floor={office.data.floor} 
                discount={office.data.discount} 
                corner={office.data.corner? "yes" : "No"}
                atrium={office.data.atrium? "yes" : "No"}
                status={office.data.status}
                byowner={office.data.byowner? "yes" : "No"}
                brokerage={office.data.brokerage? "yes" : "No"}
                plc={office.data.plc}
                giftvisit={office.data.giftvisit}
                giftbuy={office.data.giftbuy}
                />
                <div class="my-8">
                    <Highlights />
                </div>
                <h4 class="italic font-bold">{office.data.info}</h4>
            </div>
        </div>
        <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-16 bg-white lg:px-10 lg:pb-10">
            <div class="text-xl lg:col-span-2 lg:p-16 shadow-lg p-8">
                    <li class="my-3">{office.data.ptz1}</li>
                    <li class="my-3">{office.data.ptz2}</li>
                    <li class="my-3">{office.data.ptz3}</li>
                    <li class="my-3">{office.data.ptz4}</li>
                    <li class="my-3">{office.data.ptz5}</li>
            </div>
            <div>
                <Form />
            </div>
        </div>
        <div class="prose-xl overflow-visible relative shadow-lg bg-white px-10 py-10">
            <Content />
        </div>
    </div>
</Layout>
