---
import { Image } from "astro:assets";
import  type {CollectionEntry} from "astro:content";
import ResaleType from "./ResaleType.astro";
import Price from "./Price.astro";
import EnquireNow from "./EnquireNow.astro";
import Facilities from "./Facilities.astro";
import { getEntry } from "astro:content";


type Props = {
    anchor: CollectionEntry<"anchors">;
};
const { anchor } = Astro.props;


const {price} = anchor.data;
const {data: anchorData} = await getEntry("anchorPrice", price.id);

const parsepsf = (anchorData.priceNow)
const parsesize = (anchor.data.size)

const BSPPrice = (parsepsf * parsesize) / 100000;

---

<div class="lg:w-[300px] inline-block m-4 rounded-lg border-2 border-slate-200 pb-8">
    <a href={`/anchorshop/${anchor.slug}/index.html`}>
        <div class="">
            <div>
                <ResaleType />
            </div>
            <div>
                <Image
                    src={anchor.data.availability ? anchor.data.image : anchor.data.soldout}
                    width={400}
                    height={600 / 1.5}
                    alt={anchor.data.title}
                    class="aspect-thumbnail object-cover"
                    format="webp"
                />
                <Price price={BSPPrice} />
            </div>
            <Facilities 
            size={anchor.data.size} 
            floor={anchor.data.floor} 
            discount={anchor.data.discount} 
            atrium={anchor.data.atrium} />
            <p class="mx-3 my-3"><strong>Details: -</strong>{anchor.data.title}</p>
            <EnquireNow />
        </div>
    </a>
</div>
