---
import { Image } from "astro:assets";
import { getEntryBySlug, type CollectionEntry } from "astro:content";
import myImage from "../content/images/photoshoot.jpg";

type Props = {
    anchor: CollectionEntry<"anchors">;
};

const { anchor } = Astro.props;
---


<div class="w-[300px] inline-block m-4 rounded-xl">
    <a href={`/unit/${anchor.slug}`}>
        <div class="">
            <div>
                <Image
                        src={myImage}
                        width={400}
                        height={600 / 1.5}
                        alt={anchor.data.title}
                        class="aspect-thumbnail object-cover"
                        format="webp"
                    />
                
            </div>
            <div class="bg-slate-100 px-3 py-5">
                <h2>{anchor.data.title}</h2>
                <h2>Size: {anchor.data.size} sq ft</h2>
                <h2>Floor: {anchor.data.floor}</h2>
                <h2>Atrium Facing: {anchor.data.atrium ? "yes" : "no"}</h2>
                <h2>Price plan: {anchor.data.price}</h2>
                <h2>Category: {anchor.data.category}</h2>
            </div>
        </div>
    </a>
</div>

