---
import { Image } from "astro:assets";
import { getEntryBySlug, type CollectionEntry } from "astro:content";
import ResaleType from "./ResaleType.astro";
import Price from "./Price.astro";
import EnquireNow from "./EnquireNow.astro";
import { getEntry } from "astro:content";
import CardFacilities from "./CardFacilities.astro";
import Socials from "./Socials.astro";
import NobrokerageTag from "./NobrokerageTag.astro";

type Props = {
    anchor: CollectionEntry<"anchors">;
};
const { anchor } = Astro.props;
const { price } = anchor.data;

const { data: anchorData } = await getEntry("anchorPrice", price.id);

const parsepsf = anchorData.priceNow;
const parsesize = anchor.data.size;

const BSPPrice = (parsepsf * parsesize) / 100000;
---

<div class="lg:mx-16 rounded-lg border-2 bg-gray-100 border-slate-200">
    <div class="grid lg:grid-cols-3 gap-8">
        <div class="">
            <a href={`/anchorshop/${anchor.slug}`}>
                <Image
                    src={anchor.data.image}
                    alt={anchor.data.title}
                    class="aspect-thumbnail object-cover rounded-lg m-2"
                    format="webp"
                /></a
            >
        </div>
        <div class="col-span-2">
            <div class="grid lg:grid-cols-2">
                <div class="my-4">
                    <div class="flex">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512"
                            width="25px"
                            height="25px"
                            class="mt-1"
                        >
                            <path
                                fill="#000000"
                                d="M0 64C0 46.3 14.3 32 32 32l64 0 16 0 176 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-56.2 0c9.6 14.4 16.7 30.6 20.7 48l35.6 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-35.6 0c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256l80 0c32.8 0 61-19.7 73.3-48L32 208c-17.7 0-32-14.3-32-32s14.3-32 32-32l153.3 0C173 115.7 144.8 96 112 96L96 96 32 96C14.3 96 0 81.7 0 64z"
                            ></path></svg
                        >
                        <h4 class="text-2xl font-bold">{BSPPrice} Lacs</h4>
                        <p class="ml-5"><NobrokerageTag /></p>
                    </div>
                    <a href={`/anchorshop/${anchor.slug}`}>
                        <h4 class="text-md font-bold text-gray-500">
                            {anchor.data.title}
                        </h4></a
                    >
                </div>
                <div id="form" class="bg-gray-200 lg:m-4 lg:p-4 rounded-lg">
                    <form action="">
                        <div class="form-group flex">
                            <input
                                type="tel"
                                name="phone"
                                placeholder="Enter your number"
                                min="10"
                                max="10"
                                pattern="[0-9]{10}"
                                class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 block w-60 sm:text-sm focus:ring-1"
                                required
                            />
                            <button class="bg-[#E4B300] px-4 text-sm">Quick Enquire</button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <CardFacilities
                    size={anchor.data.size}
                    floor={anchor.data.floor}
                    date={anchor.data.date}
                    discount={anchor.data.discount}
                    category={anchor.data.category}
                    status={anchor.data.status}
                    plc={anchor.data.plc}
                    giftvisit={anchor.data.giftvisit}
                    giftbuy={anchor.data.giftbuy}
                />
            </div>
            <div class="grid grid-cols-4 gap-4">
                <div class="col-span-3 content-center">
                    <h4 class="flex gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            width="16px"
                            ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
                            ></path></svg
                        >
                        {anchor.data.info}
                    </h4>
                </div>
                <div class="mr-10 my-5">
                    <Socials />
                </div>
            </div>
        </div>
    </div>
</div>
