---
import { Image } from "astro:assets";
import  type {CollectionEntry} from "astro:content";
import ResaleType from "./ResaleType.astro";
import Price from "./Price.astro";
import EnquireNow from "./EnquireNow.astro";
import Facilities from "./Facilities.astro";
import { getEntry } from "astro:content";

type Props = {
    food: CollectionEntry<"foodcourts">;
};
const { food } = Astro.props;

const {price} = food.data;
const {data: foodData} = await getEntry("foodPrice", price.id);


const parsepsf = (foodData.priceNow)
const parsesize = (food.data.size)

const BSPPrice = (parsepsf * parsesize) / 100000;

---

<div class="lg:w-[300px] inline-block m-4 rounded-lg border-2 border-slate-200 pb-8">
    <a href={`/foodcourts/${food.slug}/index.html`}>
        <div class="">
            <div>
                <ResaleType />
            </div>
            <div>
                <Image
                    src={food.data.image}
                    width={400}
                    height={600 / 1.5}
                    alt={food.data.title}
                    class="aspect-thumbnail object-cover"
                    format="webp"
                />
                <Price price={BSPPrice} />
            </div>
            <Facilities 
            size={food.data.size} 
            floor={food.data.floor} 
            discount={food.data.discount} 
            atrium={food.data.atrium} />
            <p class="mx-3 my-3"><strong>Details: -</strong>{food.data.title}</p>
            <EnquireNow />
        </div>
    </a>
</div>
