---

const {
    highlight1="Lorem ipsum dolor sit amet.",
    highlight2="Lorem ipsum dolor sit amet.",
    highlight3="Lorem ipsum dolor sit amet.",
    highlight4="Lorem ipsum dolor sit amet.",
    highlight5="Lorem ipsum dolor sit amet.",
    highlight6="Lorem ipsum dolor sit amet.",
    highlight7="Lorem ipsum dolor sit amet."
} = Astro.props;

---


<div>
    <ul class="text-xl">
        <li>{highlight1}</li>
        <li>{highlight2}</li>
        <li>{highlight3}</li>
        <li>{highlight4}</li>
        <li>{highlight5}</li>
        <li>{highlight6}</li>
        <li>{highlight7}</li>
    </ul>
</div>

