---
// import { CollectionEntry } from 'astro:content';

// type Props = {
//     shop: CollectionEntry<"shops">;
// };
// const { shop } = Astro.props;


---


<div>
    <ul class="text-xl">
        <!-- <li>{shop.data.ptz1}</li>
        <li>{shop.data.ptz2}</li>
        <li>{shop.data.ptz3}</li>
        <li>{shop.data.ptz4}</li>
        <li>{shop.data.ptz5}</li> -->
    </ul>
</div>

