---
import { Image } from "astro:assets";
import { getEntryBySlug, type CollectionEntry } from "astro:content";
import ResaleType from "./ResaleType.astro";
import Price from "./Price.astro";
import EnquireNow from "./EnquireNow.astro";
import Facilities from "./Facilities.astro";
import { getEntry } from "astro:content";


type Props = {
    office: CollectionEntry<"offices">;
};
const { office } = Astro.props;

const {price} = office.data;
const {data: officeData} = await getEntry("officePrice", price.id);

const parsepsf = (officeData.priceNow)
const parsesize = (office.data.size)

const BSPPrice = (parsepsf * parsesize) / 100000;

---

<div class="lg:w-[300px] lg:inline-block m-4 rounded-lg border-2 border-slate-200 pb-8">
    <a href={`/offices/${office.slug}`}>
        <div class="">
            <div> 
                <ResaleType />
            </div>
            <div>
                <Image
                    src={office.data.image}
                    width={400}
                    height={600 / 1.5}
                    alt={office.data.title}
                    class="aspect-thumbnail object-cover"
                    format="webp"
                />
                <Price price={BSPPrice} />
            </div>
            <Facilities 
            size={office.data.size} 
            floor={office.data.floor} 
            discount={office.data.discount} 
            atrium={office.data.atrium} />
            <p class="mx-3 my-3"><strong>Details: -</strong>{office.data.title}</p>
            <EnquireNow />
        </div>
    </a>
</div>
