---
import { Image } from "astro:assets";
import  type {CollectionEntry} from "astro:content";
import ResaleType from "./ResaleType.astro";
import Price from "./Price.astro";
import EnquireNow from "./EnquireNow.astro";
import Facilities from "./Facilities.astro";
import { getEntry } from "astro:content";

type Props = {
    shop: CollectionEntry<"shops">;
};
const { shop } = Astro.props;
const {price} = shop.data;

const {data: shopData} = await getEntry("shopPrice", price.id);


const parsepsf = (shopData.priceNow)
const parsesize = (shop.data.size)

const BSPPrice = (parsepsf * parsesize) / 100000;
---

<div class="lg:w-[300px] lg:inline-block m-4 rounded-lg border-2 border-slate-200 pb-8">
    <a href={`/shops/${shop.slug}/index.html`}>
        <div class="">
            <div>
                <ResaleType />
            </div>
            <div>
                <Image
                    src={shop.data.image}
                    width={400}
                    height={600 / 1.5}
                    alt={shop.data.title}
                    class="aspect-thumbnail object-cover"
                    format="webp"
                />
                <Price price= {BSPPrice} />
            </div>
            <Facilities 
            size={shop.data.size} 
            price={shopData.priceNow}
            floor={shop.data.floor} 
            discount={shop.data.discount} 
            atrium={shop.data.atrium} />
            <p class="mx-3 my-3 line-clamp-2"><strong>Details:- </strong>{shop.data.title}</p>
            <EnquireNow />
        </div>
    </a>
</div>
