---
import { Image } from "astro:assets";
import { getEntryBySlug, type CollectionEntry } from "astro:content";

type Props = {
    shop: CollectionEntry<"shops">;
};

const { shop } = Astro.props;
---

<article class="w-[350px] inline-block m-4 rounded-xl">
    <a href={`/unit/${shop.slug}`}>
        <div class="">
            <div>
                <Image
                        src={shop.data.image}
                        width={400}
                        height={600 / 1.5}
                        alt={shop.data.title}
                        class="aspect-thumbnail object-cover"
                        format="webp"
                    />
                
            </div>
            <div class="bg-slate-100 px-3 py-5">
                <h2>{shop.data.title}</h2>
                <h2>Size: {shop.data.size} sq ft</h2>
                <h2>Floor: {shop.data.floor}</h2>
                <h2>Atrium Facing: {shop.data.atrium ? "yes" : "no"}</h2>
                <h2>Price plan: {shop.data.price}</h2>
            </div>
        </div>
    </a>
</article>
